<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Angular Crud</h1>
        <div class="d-flex">

            <button routerLink="/home" class="btn btn-info mx-2" role="button"
                style=" color: aliceblue;">Home
            </button>

            <button routerLink="/employeeList" class="btn btn-warning mx-2" role="button"
                style=" color: aliceblue;">Employee List
            </button>

            <button routerLink="/projectList" class="btn btn-info mx-2" role="button"
                style=" color: aliceblue;">Project List
            </button>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>